{% extends 'layout.html' %}


{% block content %}

    <div class="luffy-container">
        <div class="alert alert-danger" role="alert">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <p style="font-size: 13px;"><i class="fa fa-warning" aria-hidden="true"></i>删除后将不可恢复，请确认是否删除</p>
                <div style="margin-top: 20px">
                    <a href="{{ cancel }}" class="btn btn-default btn-sm">取消</a>
                    <input type="submit" value="确认" class="btn btn-danger btn-sm"/>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}